<!-- Latest compiled and minified CSS -->

<div class="container">
  <div class="well well-sm">
    <div class="page-header">
      <h1>Welcome to the Task Manager </h1>
    </div>
  </div>

  <div class="list-group">
    <a href="/tasks" class="list-group-item">
      <span class="glyphicon glyphicon-folder-open">
        Task Index
      </span>
    </a>
    <a href="/tasks/new" class="list-group-item">
      <span class="glyphicon glyphicon-plus-sign">
        New Task
      </span>
    </a>
  </div>
</div>
