<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<div class="container">
  <div class="well well-sm">
    <form action ="/tasks" method ="post">
      <p>Enter a new task:</p>
      <input type='text' name='task[title]'/><br>
      <textarea name='task[description]'></textarea><br>
      <input type='submit'>
    </form>
  </div>
</div>
